{
    email {$SSL_EMAIL:admin@johnsonthomas.co.in}
}

{$DOMAIN_NAME:n8n.johnsonthomas.co.in} {
    # Forward all traffic to n8n
    reverse_proxy n8n:5678 {
        flush_interval -1
    }

    # Internal API route to scraper microservice
    handle_path /api/scraper/* {
        reverse_proxy scraper-service:8000
    }
}
